<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameui/ui_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,397},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,39}</string>
			</dict>
			<key>gameui/ui_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{660,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,191}</string>
			</dict>
			<key>gameui/ui_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,192},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>gameui/ui_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,171},{60,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,45}</string>
			</dict>
			<key>gameui/ui_defend.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,297},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>gameui/ui_hp_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,60},{9,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,32}</string>
			</dict>
			<key>gameui/ui_hp_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,64},{2,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,32}</string>
			</dict>
			<key>gameui/ui_hp_bg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,0},{12,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,32}</string>
			</dict>
			<key>gameui/ui_hp_bg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,32},{2,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,32}</string>
			</dict>
			<key>gameui/ui_hp_t_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,32},{10,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,32}</string>
			</dict>
			<key>gameui/ui_hp_t_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,88},{2,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,32}</string>
			</dict>
			<key>gameui/ui_hun.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,435},{31,40}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>gameui/ui_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,333},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>gameui/rw13.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,334},{65,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>gameui/rw14.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,370},{65,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>gameui/rw15.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,396},{65,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>gameui/rw10.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,330},{67,64}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>gameui/rw12.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,270},{64,69}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>gameui/tou_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>gameui/tou_eye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,231},{66,25}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>gameui/tou_eye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,231},{55,20}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>gameui/bg_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{660,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,171}</string>
			</dict>
			<key>gameui/bg_top_holder.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,0},{330,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,65}</string>
			</dict>
			<key>gameui/a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,113},{58,33}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,36}</string>
			</dict>
			<key>gameui/a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,397},{41,26}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,30}</string>
			</dict>
			<key>gameui/goal_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,113},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>role_ui.png</string>
			<key>realTextureFileName</key>
			<string>role_ui.png</string>
			<key>size</key>
			<string>{1024,660}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>660</integer>
		</dict>
	</dict>
</plist>